<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <h1><%= title %></h1>
    <form action="/students/add" method="post">
        <label for="name">Nom:</label>
        <input type="text" id="name" name="name" required>
        <label for="birthday">Date de naissance:</label>
        <input type="date" id="birthday" name="birthday" required>
        <button type="submit" class="add-student">Ajouter</button>
    </form>
    <a href="/students">Voir les étudiants</a>
</body>
</html>
